.button {
	border: 0;
	border-radius: 6px;

	padding: 0 10px;

	font-size: 18px;
	font-weight: 500;

	color: #ffffff;

	transition: background-color linear .15s, box-shadow linear .2s;
}

.button--size--m {
	min-width: 218px;
	min-height: 47px;
}

.button--size--s {
	min-width: 166px;
	min-height: 40px;
}

.button--purple {
	background-color: #7469f3;
}

.button--purple:hover {
	background-color: #4b41b8;
}

.button--purple:active {
	background-color: #342d7e;
}

.button--purple:focus-visible {
	outline: 0;
	box-shadow: 0 0 0px 2px rgba(225, 225, 225);
}
