.checkbox {
	position: relative;
	display: flex;
	align-items: center;

	border-radius: 2px;

	font-size: 12px;
	font-weight: 500;

	cursor: pointer;

	background: #ffffff;

	transition: box-shadow linear .2s;
}

.checkbox::before {
	content: "";

	display: inline-block;

	box-sizing: border-box;
	width: 20px;
	height: 20px;

	box-shadow:
		inset 0 0 0 2px #7469F3,
		inset 0 0 0 4px #ffffff;
	border-radius: 3px;

	margin-right: 5px;
}

.checkbox:has(.hiddenInput:focus-visible) {
	box-shadow:
		0 0 0 2px #ffffff,
		0 0 0 4px #7469F3;
}

.hiddenInput {
	position: absolute;
	z-index: -1;
}

.checkbox:has(.hiddenInput:checked)::before {
	background-color: #7469F3;
}
