.cross {
	width: 25px;
	height: 25px;
	cursor: pointer;
	box-shadow: none;
	border-radius: 50%;

	padding: 0;

	background: #ffffff;

	transition: background-color linear .2s, box-shadow linear .2s;
}

.cross:hover {
	background-color: #e5e5e5;
}

.cross:focus-visible {
	box-shadow:
		0 0 0 2px #7469F3;
}

.cross::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 2px;
	border-radius: 2px;
	background-color: #2b2f3c;
	transform-origin: center;
	transform: translate(-50%, -50%) rotate(45deg);
}

.cross::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 2px;
	border-radius: 2px;
	background-color: #2b2f3c;
	transform-origin: center;
	transform: translate(-50%, -50%) rotate(-45deg);
}
