@import "./styles/index.scss";

html {
	font-family: 'Roboto', sans-serif;
	height: 100%;

	margin-left: calc(100vw - 100%);

	background-color: var(--bg-default);
}

body {
	min-height: 100%;

	margin: 0;
}

button {
	cursor: pointer;

	font-family: inherit;

	border: none;
	background: none;

	outline: 0;
	outline-color: transparent;
}

p {
	margin: 0;
}

h2 {
	margin-top: 0;
}

input {
	font-family: inherit;
}

label {
	outline: 0;
	outline-color: transparent;
}

.Page--modal--active {
	overflow: hidden;
}
