.card {
	height: 380px;

	overflow: hidden;

	position: relative;

	border-radius: 6px;

	background-color: #ffffff;
	color: #ffffff;
}

.card__img {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.card__comment {
	transform: translateY(330px);

	transition: transform linear 0.2s;
}

.card:hover>.card__comment {
	transform: translateY(0);
}
