.cardsContainer {
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	width: 100%;
	min-height: 534px;

	padding: 28px 25px;

	background-color: var(--bg-secondary);
}

.cardsContainer__cards {
	margin-bottom: 50px;
}

.cardsContainer__button {
	align-self: center;
}
